.comment-list {
	.story-txt {
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: auto 1fr;
		gap: 10px;
		align-items: flex-start;
		border-bottom: 1px solid $border-color;
		padding: 12px;
		font-size: 14px;

		.story-txt-user {
			display: flex;
			align-items: flex-start;

			img {
				height: 32px;
				width: 32px;
				border-radius: 50%;
				margin-right: 12px;
			}

			div {
				font-weight: 600;
			}
		}
	}
}
