.comment-list {
  display: grid;
  grid-template-rows: auto 1fr;

  .story-txt {
    border-bottom: 1px solid $border-color;
    padding: 12px;
  }

  .comments-list {
    overflow: auto;
    padding: 12px;
    display: grid;
    gap: 10px;
    height: calc(100vh - 80px - $comments-header-mobile-h - 84px);
  }
}
