.comment {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: flex-start;
  padding: 12px 0;
  font-size: 14px;

  .comment-user-info {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;

    img {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      margin-right: 12px;
    }

    .comment-username {
      font-weight: 600;
    }
  }

  .comment-txt {
    height: 100%;
  }
}
