.create {
  background-color: $bg-color;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: $create-header-mobile-h 1fr 1fr;

  img {
    display: flex;
    height: 26px;
    width: 26px;
    cursor: pointer;
  }

  .create-header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 0 16px;
    text-align: center;
    border-bottom: 1px solid $border-color;

    .create-header-title {
      font-weight: 600;
    }

    button {
      color: $blue-color;
    }
  }

  .create-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $border-color;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    input {
      display: none;
    }

    button {
      background-color: $blue-color;
      color: $white-color;
      border-radius: 8px;
      padding: 7px 16px;
    }
  }

  .create-details {
    padding: 16px;

    .create-details-user {
      display: flex;
      margin-bottom: 15px;
      font-size: 16px;
      font-weight: 600;

      img {
        margin-right: 10px;
        object-fit: cover;
      }
    }

    textarea {
      font-size: 16px;
      height: 90%;
    }
  }

  @include narrow-layout {
    height: initial;
    width: initial;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto auto;
    grid-template-areas: "h h" "i d";
    padding: initial;

    .create-header {
      grid-area: h;
      display: initial;
      padding: 4px 0 16px 4px;
      display: flex;
      justify-content: space-between;

      img {
        display: none;
      }
    }

    .create-image-container {
      grid-area: i;
      height: 350px;
      width: 350px;
      border-right: 1px solid $border-color;
      border-bottom: none;
    }

    .create-details {
      width: 250px;
      grid-area: d;
    }
  }

  @include wide-layout {
    .create-details {
      width: 350px;
    }
  }
}
