.header {
	grid-area: he;
	height: $header-mobile-h;
	border-bottom: 1px solid $border-color;
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	padding: 0 16px;
	justify-content: space-between;

	.logo {
		height: 29px;
		width: 103px;
	}

	img {
		height: 24px;
		width: 24px;
		cursor: pointer;
	}
}
