.navbar {
	grid-area: na;

	.name,
	.logo,
	.menu {
		display: none;
	}

	.navbar-links {
		height: $navbar-mobile-h;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		border-top: 1px solid $border-color;

		a {
			padding: 12px;
			display: flex;
			align-items: center;

			&:not(.mobile-display) {
				display: none;
			}

			img {
				height: 24px;
				width: 24px;
			}

			.profile {
				border-radius: 50%;
			}
		}
	}

	@include narrow-layout {
		border-right: 1px solid $border-color;
		height: 100%;
		width: 72px;
		display: grid;
		grid-template-rows: 92px 1fr 112px;

		.logo {
			padding-top: 12px;
			align-items: center;
			justify-content: center;
			display: flex;
			height: 92px;

			.logo-image {
				height: 26px;
				width: 26px;
				background-repeat: no-repeat;
				background-image: url('../assets/svgs/logo-camera.svg');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
		}

		.navbar-links {
			padding-top: 12px;
			border-top: initial;
			display: grid;
			height: fit-content;
			gap: 8px;

			a {
				&:not(.mobile-display) {
					display: flex;
				}
			}
		}

		.menu {
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				height: 24px;
				width: 24px;
			}
		}
	}

	@include wide-layout {
		width: 100%;

		.name {
			display: block;
		}

		.navbar-links {
			padding: 12px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			a {
				width: 100%;
				gap: 16px;
			}
		}

		.logo {
			justify-content: flex-start;
			padding: 16px 24px 0 24px;

			.logo-image {
				height: 29px;
				width: 103px;
				background-image: url('../assets/svgs/logo-instagram.svg');
			}
		}

		.menu {
			display: flex;
			gap: 16px;
			justify-content: flex-start;
			padding: 24px;
			height: fit-content;
			align-items: flex-end;
		}
	}
}
