// COLOR PALETTE
$black-color: #262626;
$gray-color: #8e8e8e;
$blue-color: #0095f6;

// BACKGROUND COLORS
$bg-color: #fff;
$bg-color-hover: #f2f2f2;

// BORDERS
$border-color: #dbdbdb;

// SIZES
$navbar-mobile-h: 50px;
$header-mobile-h: 45px;

$navbar-narrow-w: 72px;

// LAYOUT
$layout-padding: 20px;

// LAYOUT BREAKPOINTS
$brake-mobile: 728px;
$brake-narrow: 1224px;

$padded-brake-mobile: $brake-mobile + $layout-padding * 2;
$padded-brake-narrow: $brake-narrow + $layout-padding * 2;
