.main-layout {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: 'he he he' 'pa pa pa' 'na na na';

	.page-layout {
		grid-area: pa;
		height: calc(100vh - ($navbar-mobile-h + $header-mobile-h));
		overflow: auto;
	}

	@include narrow-layout {
		grid-template-columns: auto 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: 'na pa';

		.page-layout {
			height: 100vh;
		}

		.header {
			display: none;
		}
	}

	@include wide-layout {
		grid-template-columns: $navbar-wide-w 1fr;
	}
}
